:root {
    /*Primary*/
    --blue: hsl(246, 80%, 60%);
    --lightOrange:hsl(15, 100%, 70%); /*work*/
    --softBlue:hsl(195, 74%, 62%); /*play*/
    --lightRed:hsl(348, 100%, 68%); /*study*/
    --limeGreen:hsl(145, 58%, 55%); /*exercise*/
    --violet:hsl(264, 64%, 52%); /*social*/
    --softOrange:hsl(43, 84%, 65%); /*self care*/

    /*Neutral*/
    --veryDarkBlue:hsl(226, 43%, 10%);
    --darkBlue:hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue:hsl(236, 100%, 87%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--veryDarkBlue);
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.data__user {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.container__data {
    margin-right: 20px;
}

.data__info {
    height: 300px;
    background-color: var(--blue);
    padding-top: 30px;
    padding-left: 20px;
}

.data__info img {
    height:30%;
    border-radius: 40px;
    border: 2px solid white;
    margin-bottom: 40px;
}

.data__info .tittleReport {
    font-size: 14px;
    font-weight: 400;
}

.data__info .name {
    font-size: 30px;
    font-weight: 300;
}

.data__range {
    display: flex;
    flex-wrap: wrap;
}

.data__range button {
    width: 100%;
    text-align: start;
    background: none;
    border: none;
    outline: none;
    margin: 15px 0 0 20px;
    color: var(--desaturatedBlue);
    cursor: pointer;
}

.data__range button:hover, .active {
    color: var(--paleBlue) !important;
}

.sub__container, .sub__data{
    background-color: var(--darkBlue);
    width: 190px;
}

.work .sub__header {
    background-color: var(--lightOrange)
}

.play .sub__header {
    background-color: var(--softBlue);
}

.study .sub__header {
    background-color: var(--lightRed);
}

.exercise .sub__header {
    background-color: var(--limeGreen);
}

.social .sub__header {
    background-color: var(--violet)
}

.selfcare .sub__header {
    background-color: var(--softOrange)
}

.sub__container {
    color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
}

.sub__header {
    height: 60px;
    overflow: hidden;
    padding-bottom: 27px;
}

.sub__header img {
    height: 150%;
    width: 100px;
    float: right;
    object-fit: none;
}

.sub__data {
    height: 150px;
    margin-top: -10px;
    padding: 20px 30px 0 30px;
    border-radius: 10px;
    cursor: pointer;
}

.sub__data:hover {
    background-color: var(--desaturatedBlue);
}

.tittle {
    font-weight: 500;
}

.tittle p {
    display: inline-block;
}

.tittle img {
    float: right;
    padding-top: 10px;
}

.hours {
    padding-top: 20px;
    font-size: 40px;
    font-weight: 300;
}

.last {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--desaturatedBlue);
}

.sub__data:hover > .last {
    color: var(--paleBlue);
}

@media (max-width: 980px) {
    /*body {
        display: block;
        padding: 200px 0;
    }
    
    .container {
        max-width: 350px;
        margin: 0 auto 100px auto;
    }*/
}

